.gallery{

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        article{
            border: 1rem solid transparent;
            transition: var(--transition);

            &:hover{
                border-color: var(--color-gray-500);
            }
        }
    }

}