.contactPage {

    .contact {

        padding-top: 20px;

        &__container{
            display: grid;
            place-items: center;
        }
    
        .contact__wrapper{
            width: fit-content;
            display: flex;
            gap: 2rem;
    
            a{
                background: var(--color-primary);
                font-size: 2rem;
                border: 2px solid transparent;
                transition: var(--transition);
                padding: 2rem;
                border-radius: 1.5rem;
    
                &:hover{
                    background: transparent;
                    border-color: var(--color-gray-100);
                }
            }
        }
    
    }
}