.trainers{

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;

        .card.trainer{
            padding: 1rem;

            &__img{
                border-radius: 0 2rem;
                overflow: hidden;
            }

            h3{
                margin-top: 2rem;
            }

            &__socials{
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;

                a{
                    font-size: 0.7rem;
                    background: var(--color-gray-600);
                    padding: 0.8rem;
                    border-radius: 0.7rem;
                    transition: var(--transition);

                    &:hover{
                        background: var(--color-gray-500)
                    }
                }
            }
        }
    }
}